{% extends base.html %}
{% block title %}关于{% end %}
{% block head %}
<link href="https://cdn.jsdelivr.net/npm/aplayer@1.10.1/dist/APlayer.min.css" rel="stylesheet" >
{% end %}
{% block section %}
<div class="staticBlock">
  <h3>关于</h3>
  <div id="aplayer"></div>
  <h3></h3>
  <a href="https://github.com/Jackeriss/" target="_blank">
    <img align="right" src="https://github-readme-stats.vercel.app/api?username=Jackeriss&show_icons=true&hide_border=true&bg_color=192133&title_color=efb752&icon_color=efb752&text_color=70bed9">
  </a>
  <h3>技术栈</h3>
  <img src="https://img.shields.io/badge/-Java-192133?style=flat-square&logo=java&logoColor=white">
  <img src="https://img.shields.io/badge/-Python-192133?style=flat-square&logo=python&logoColor=white">
  <img src="https://img.shields.io/badge/-Spring-192133?style=flat-square&logo=spring&logoColor=white">
  <img src="https://img.shields.io/badge/-MySQL-192133?style=flat-square&logo=mysql&logoColor=white">
  <img src="https://img.shields.io/badge/-Redis-192133?style=flat-square&logo=redis&logoColor=white">
  <img src="https://img.shields.io/badge/-Elasticsearch-192133?style=flat-square&logo=elasticsearch&logoColor=white">
  <img src="https://img.shields.io/badge/-Kafka-192133?style=flat-square&logo=apache-kafka&logoColor=white">
  <img src="https://img.shields.io/badge/-Solr-192133?style=flat-square&logo=apache-solr&logoColor=white">
  <img src="https://img.shields.io/badge/-GraphQL-192133?style=flat-square&logo=graphql&logoColor=white">
  <img src="https://img.shields.io/badge/-HTML5-192133?style=flat-square&logo=html5&logoColor=white">
  <img src="https://img.shields.io/badge/-CSS3-192133?style=flat-square&logo=css3&logoColor=white">
  <img src="https://img.shields.io/badge/-TypeScript-192133?style=flat-square&logo=typescript&logoColor=white">
  <img src="https://img.shields.io/badge/-React-192133?style=flat-square&logo=react&logoColor=white">
  <img src="https://img.shields.io/badge/-Vue.js-192133?style=flat-square&logo=vue.js&logoColor=white">
  <img src="https://img.shields.io/badge/-Next.js-192133?style=flat-square&logo=next.js&logoColor=white">
  <img src="https://img.shields.io/badge/-Gulp-192133?style=flat-square&logo=gulp&logoColor=white">
  <img src="https://img.shields.io/badge/-IntelliJ%20IDEA-192133?style=flat-square&logo=intellij-idea&logoColor=white">
  <img src="https://img.shields.io/badge/-Visual%20Studio%20Code-192133?style=flat-square&logo=visual-studio-code&logoColor=white">
  <img src="https://img.shields.io/badge/-Google%20Chrome-192133?style=flat-square&logo=google-chrome&logoColor=white">
  <img src="https://img.shields.io/badge/-Insomnia-192133?style=flat-square&logo=insomnia&logoColor=white">
  <img src="https://img.shields.io/badge/-Sentry-192133?style=flat-square&logo=sentry&logoColor=white">
  <img src="https://img.shields.io/badge/-Figma-192133?style=flat-square&logo=figma&logoColor=white">
  <h3>联系</h3>
  <ul>
    <li>
      <a href="https://github.com/Jackeriss/" target="_blank">GitHub</a>
    </li>
    <li>
      <a href="mailto:i@jackeriss.com" target="_blank">i@jackeriss.com</a>
    </li>
  </ul>
  <div id="gitalk-container"></div>
</div>
{% end %}
{% block script %}
<script src="https://cdn.jsdelivr.net/npm/aplayer@1/dist/APlayer.min.js"></script>
<script>
  $.ajax({
    type: 'get',
    url: 'https://api.i-meto.com/meting/api?server=netease&type=playlist&id=2839871887',
    dataType: 'json',
    success: function (data) {
      const aplayer = new APlayer({
        container: document.getElementById('aplayer'),
        fixed: false,
        order: 'random',
        audio: data
      })
    }
  })
</script>
{% end %}