{% extends navPageBase.html %}
{% block title %}关于{% end %}
{% block section %}
<div class="staticBlock">
  <h4>联系</h4>
  <ul>
    <li>
      <a href="https://github.com/Jackeriss" target="_blank">GitHub</a>
    </li>
    <li>
      <a href="mailto:i@jackeriss.com" target="_blank">i@jackeriss.com</a>
    </li>
  </ul>
  <h4>友链</h4>
  <table>
    <tbody>
      <tr>
        <td style="text-align:center;">
          <a href="https://www.0xaa55.com/" target="_blank">技术宅的结界</a>
        </td>
        <td style="text-align:center;">
          <a href="https://hfo4.github.io/" target="_blank">Aaron's Blog</a>
        </td>
        <td style="text-align:center;">
          <a href="https://blog.lwl12.com/" target="_blank">LWL的自由天空</a>
        </td>
      </tr>
    </tbody>
  </table>
  <div id="gitalk-container"></div>
</div>
{% end %}