<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="{% block description %}Elegance begets simplicity{% end %}">
  <meta name="keywords" content="Jackeriss">
  <meta name="referrer" content="never">
  <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
  <title>{% block title %}Jackeriss{% end %}</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/gitalk@1/dist/gitalk.min.css">
  <link href="/css/style.css" rel="stylesheet">
  <link href="/image/logo.png" rel="apple-touch-icon-precomposed" sizes="144x144">
  <link href="/image/logo.png" rel="shortcut icon">
  {% block head %}{% end %}
</head>

<body>
  <header>
    <div class="container clearfix">
      <div class="logo left">
        <a href="/" title="Jackeriss">
          <img src="/image/logo.png" alt="Jackeriss" height="46">
        </a>
      </div>
      <div class="search left">
      </div>
      <div class="nav nav-user right">
        <ul>
          <li><a href="/achive" id="achive">归档</a></li>
          <li><a href="/project" id="project">项目</a></li>
          <li><a href="/movie" id="movie">电影</a></li>
          <li><a href="/about" id="about">关于</a></li>
        </ul>
      </div>
    </div>
  </header>
  <div class="container">
    <div class="main-body">
      {% block section %}{% end %}
      <div class="go-top dn" id="go-top">
        <a href="javascript:;" class="go iconfont">&#xe7d9;</a>
      </div>
    </div>
  </div>
  <footer>
    <div class="container">
      <p class="foot dn">
        © 2019 <a href="/">Jackeriss</a><a href="http://www.beian.miit.gov.cn" target="_blank"> 豫ICP备15004310号 </a>Powered by <a href="https://github.com/Jackeriss/typora-blog"
          target="_blank">typora-blog</a>
      </p>
    </div>
  </footer>
  <script
    src="https://cdn.jsdelivr.net/combine/npm/gitalk@1,npm/moment@2,npm/moment@2/locale/zh-cn.min.js,npm/jquery@3">
  </script>
  <script src="/js/index.js"></script>
  {% block script %}{% end %}
</body>

</html>