{% extends base.html %}
{% block title %}电影 - Jackeriss{% end %}
{% block head %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/iMuFeng/bmdb@latest/dist/Bmdb.min.css">
{% end %}
{% block section %}
<div class="staticBlock">
  <div class="movie"></div>
  <div id="gitalk-container"></div>
</div>
{% end %}
{% block script %}
<script src="https://cdn.jsdelivr.net/gh/iMuFeng/bmdb@3.0.0/dist/bmdb.js"></script>
<script>
  new Bmdb({
    type: 'movie',
    selector: '.movie',
    secret: '8e7e4a9a5c7a0591634be2316c876636f5779542172ffc01238122f0f91d4d62',
    noMoreDataTips: 'ʅ(‾◡◝) 就这些电影啦',
    categories: ['悬疑', '科幻', '奇幻', '犯罪', '动作', '传记', '战争', '动画', '喜剧', '爱情', '惊悚', '剧情', '纪录片']
  })
</script>
{% end %}