{% extends base.html %}
{% block title %}关于 - Jackeriss{% end %}
{% block section %}
<div class="staticBlock">
  <h3>项目</h3>
  <ul>
    <li>
      <a href="https://www.cupfox.com/" target="_blank">茶杯狐 Cupfox</a> - 努力让找电影变得简单
    </li>
    <li>
      <a href="https://one-scan.jackeriss.com/" target="_blank">One Scan</a> - 多合一网站指纹扫描器
    </li>
    <li>
      <a href="https://jackeriss.github.io/email_my_pc/" target="_blank">Email My PC</a> - 远程监控电脑，也许一切只需要一封邮件
    </li>
  </ul>
  <div id="gitalk-container"></div>
</div>
{% end %}