{% extends navPageBase.html %}
{% block title %}关于{% end %}
{% block section %}
<div class="staticBlock">
  <h4>项目</h4>
  <ul>
    <li>
      <a href="https://www.cupfox.com/" target="_blank">Cupfox</a> - 影视资源聚合搜索引擎
    </li>
    <li>
      <a href="https://one-scan.jackeriss.com/" target="_blank">One Scan</a> - 网站指纹扫描器
    </li>
    <li>
      <a href="https://jackeriss.github.io/email_my_pc/" target="_blank">Email My PC</a> - 远程监控电脑，也许一切只需要一封邮件
    </li>
  </ul>
  <div id="gitalk-container"></div>
</div>
{% end %}