{% extends navPageBase.html %}
{% block title %}关于{% end %}
{% block section %}
<div class="staticBlock">
  <h4>项目</h4>
  <ul>
    <li>
      <a href="https://www.cupfox.com/" target="_blank">Cupfox</a> - 非常好用的影视资源搜索引擎，甄选全网优质影视资源站资源，资源覆盖面广、质量高、更新速度快
    </li>
    <li>
      <a href="https://one-scan.jackeriss.com/" target="_blank">One Scan</a> - 多合一网站指纹扫描器，轻松获取网站的 IP / DNS 服务商 / 子域名 / SSL 证书 / WHOIS / 开发框架 / WAF 等信息
    </li>
    <li>
      <a href="https://jackeriss.github.io/email_my_pc/" target="_blank">Email My PC</a> - 远程监控电脑，也许一切只需要一封邮件
    </li>
  </ul>
  <div id="gitalk-container"></div>
</div>
{% end %}