{% extends base.html %}
{% block title %}分享{% end %}
{% block section %}
<div class="staticBlock">
  <h4>软件</h4>
  <figure>
    <table>
      <thead>
        <tr>
          <th>名称</th>
          <th>功能</th>
          <th>平台</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><a target="_blank" href="https://simplenote.com/">Simplenote</a></td>
          <td>笔记、便签</td>
          <td>桌面端、移动端</td>
        </tr>
        <tr>
          <td><a target="_blank" href="https://www.marginnote.com/chinese/home">MarginNote3</a></td>
          <td>文档、电子书阅读</td>
          <td>桌面端、移动端</td>
        </tr>
        <tr>
          <td><a target="_blank" href="https://typora.io/">Typora</a></td>
          <td>Markdown 编辑器</td>
          <td>桌面端</td>
        </tr>
        <tr>
          <td><a target="_blank" href="https://github.com/getinsomnia/insomnia">Insomnia</a></td>
          <td>API 客户端</td>
          <td>桌面端</td>
        </tr>
        <tr>
          <td><a target="_blank" href="https://pasteapp.me/">Paste</a></td>
          <td>剪贴板管理</td>
          <td>macOS</td>
        </tr>
        <tr>
          <td><a target="_blank" href="https://zh.xnipapp.com/">Xnip</a></td>
          <td>截图</td>
          <td>macOS</td>
        </tr>
        <tr>
          <td><a target="_blank" href="https://magnet.crowdcafe.com/">Magnet</a></td>
          <td>窗口管理</td>
          <td>macOS</td>
        </tr>
        <tr>
          <td><a target="_blank" href="https://iina.io/">IINA</a></td>
          <td>视频播放器</td>
          <td>macOS</td>
        </tr>
        <tr>
          <td><a target="_blank" href="https://www.iterm2.com/">iTerm2</a></td>
          <td>终端</td>
          <td>macOS</td>
        </tr>
        <tr>
          <td><a target="_blank" href="https://github.com/Ji4n1ng/OpenInTerminal">OpenInTerminal</a></td>
          <td>快速打开终端或编辑器</td>
          <td>macOS</td>
        </tr>
        <tr>
          <td><a target="_blank" href="https://www.mowglii.com/itsycal/">Itsycal</a></td>
          <td>日历</td>
          <td>macOS</td>
        </tr>
        <tr>
          <td><a target="_blank" href="https://bjango.com/mac/istatmenus/">iStat Menus</a></td>
          <td>系统信息</td>
          <td>macOS</td>
        </tr>
        <tr>
          <td><a target="_blank" href="https://www.macbartender.com/">Bartender3</a></td>
          <td>系统菜单栏管理</td>
          <td>macOS</td>
        </tr>
      </tbody>
    </table>
  </figure>
  <h4>Chrome 扩展</h4>
  <figure>
    <table>
      <thead>
        <tr>
          <th>名称</th>
          <th>功能</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><a target="_blank"
              href="https://chrome.google.com/webstore/detail/json-viewer-awesome/iemadiahhbebdklepanmkjenfdebfpfe">JSON
              Viewer</a></td>
          <td>JSON 格式化展示</td>
        </tr>
        <tr>
          <td><a target="_blank" href="https://chrome.google.com/webstore/detail/gjldcdngmdknpinoemndlidpcabkggco">扩展管理器
              (Extention Manager)</a></td>
          <td>分组管理 Chrome 扩展</td>
        </tr>
        <tr>
          <td><a target="_blank"
              href="https://chrome.google.com/webstore/detail/highlight-or-hide-search/ilopipickdimglkalhckioobifbiinbk">Highlight
              or Hide Search Engine Results</a></td>
          <td>隐藏或高亮显示搜索结果</td>
        </tr>
        <tr>
          <td><a target="_blank"
              href="https://chrome.google.com/webstore/detail/wikiwand-wikipedia-modern/emffkefkbkpkgpdeeooapgaicgmcbolj">Wiki
              Wand</a></td>
          <td>维基百科体验优化</td>
        </tr>
        <tr>
          <td><a target="_blank"
              href="https://chrome.google.com/webstore/detail/%E6%B2%99%E6%8B%89%E6%9F%A5%E8%AF%8D-%E8%81%9A%E5%90%88%E8%AF%8D%E5%85%B8%E5%88%92%E8%AF%8D%E7%BF%BB%E8%AF%91/cdonnmffkdaoajfknoeeecmchibpmkmg">沙拉查词
              (Saladict)</a></td>
          <td>聚合词典查词翻译</td>
        </tr>
      </tbody>
    </table>
  </figure>
  <h4>网站</h4>
  <figure>
    <table>
      <thead>
        <tr>
          <th>名称</th>
          <th>功能</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><a target="_blank" href="https://stackshare.io/">stackshare</a></td>
          <td>分享发现技术栈</td>
        </tr>
        <tr>
          <td><a target="_blank" href="https://tools.imiku.me/">mikuTools</a></td>
          <td>一个轻量的工具集合</td>
        </tr>
        <tr>
          <td><a target="_blank" href="http://www.lanjuhua.com/">蓝菊花</a></td>
          <td>资源搜索</td>
        </tr>
        <tr>
          <td><a target="_blank" href="https://www.figma.com/">figma</a></td>
          <td>在线 UI 设计、矢量作图</td>
        </tr>
        <tr>
          <td><a target="_blank" href="http://cloud.niucodata.com/">NiucoData·词云小工具</a></td>
          <td>根据输入的文字统计词频、生成词云</td>
        </tr>
        <tr>
          <td><a target="_blank" href="https://bigjpg.com/">Bigjpg</a></td>
          <td>AI 人工智能图片放大</td>
        </tr>
        <tr>
          <td><a target="_blank" href="https://sm.ms/">sm.ms</a></td>
          <td>免费图床</td>
        </tr>
      </tbody>
    </table>
  </figure>
  <h4>项目</h4>
  <figure>
    <table>
      <thead>
        <tr>
          <th>名称</th>
          <th>功能</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><a target="_blank" href="https://github.com/Finb/Bark">Bark</a></td>
          <td>自定义推送 iOS 消息通知，支持自建服务器，提供 Chrome 插件</td>
        </tr>
      </tbody>
    </table>
  </figure>
  <div id="gitalk-container"></div>
</div>
{% end %}