{% extends navPageBase.html %}
{% block title %}作坊{% end %}
{% block section %}
<div class="staticBlock">
  <h4>地精科技，震撼人心！</h4>
  <figure>
    <table>
      <thead>
        <tr>
          <th>时间</th>
          <th>项目</th>
          <th>简介</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>2019</td>
          <td><a target="_blank" href="https://one-scan.jackeriss.com">One Scan</a></td>
          <td>网站指纹信息扫描</td>
        </tr>
        <tr>
          <td>2019</td>
          <td><a target="_blank" href="https://github.com/Jackeriss/template-tornado">template-tornado</a></td>
          <td>Tornado 开发模板</td>
        </tr>
        <tr>
          <td>2016</td>
          <td><a target="_blank" href="https://www.cupfox.com">Cupfox 茶杯狐</a></td>
          <td>影视资源搜索网站</td>
        </tr>
        <tr>
          <td>2016</td>
          <td><a target="_blank" href="https://github.com/Jackeriss/typora-blog">typora-blog</a></td>
          <td>用 Typora 写博客</td>
        </tr>
        <tr>
          <td>2016</td>
          <td><a target="_blank" href="https://jackeriss.github.io/email_my_pc/">Email My PC</a></td>
          <td>通过邮件远程监控你的电脑</td>
        </tr>
        <tr>
          <td>2015</td>
          <td><a target="_blank" href="https://jackeriss.github.io/companions/">Companions</a></td>
          <td>一个会卖萌的个人助手</td>
          </tr>
        <tr>
          <td>2015</td>
          <td><a target="_blank" href="https://github.com/Jackeriss/iColor">iColor</a></td>
          <td>屏幕取色器</td>
          </tr>
        <tr>
          <td>2014</td>
          <td><a target="_blank" href="https://github.com/Jackeriss/7g253">七鬼二五三</a></td>
          <td>原创纸牌游戏</td>
        </tr>
      </tbody>
    </table>
  </figure>
  <div id="gitalk-container"></div>
</div>
{% end %}